<div class="container">

    <h1 class="center-align">Eat-Da-Burger</h1>
    <img id="patrick" src="https://media.giphy.com/media/IgOEWPOgK6uVa/giphy.gif" alt="Devouring Burgers">

    <div class="row">
        <div class="col s6">
            <h2 class="center-align">Burgers to Eat</h2>
            <hr>

            <ul class="burger-ul">
                {{#each burgers}} {{#unless this.devoured}}
                <li class="burger-li">
                    <a class="devour waves-effect waves-light btn-small" data-burgerid="{{this.id}}">Devour</a>
                    <p class="burger-p">
                        {{this.id}}. {{this.burger_name}}
                    </p>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col s6">
            <h2 class="center-align">Devoured Burgers</h2>
            <hr>

            <ul class="eaten-ul">
                {{#each burgers}} {{#if this.devoured}}
                <li class="eaten-li">
                    <a class="delete waves-effect waves-light btn-small" data-burgerid="{{this.id}}">Garbage</a>
                    <p class="eaten-p">
                        {{this.id}}. {{this.burger_name}}
                    </p>
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>

    </div>

    <div class="container container-add">
        <h2 class="center-align">Add a Burger</h2>
        <hr>
        <form class="create-form">

            <div>
                <label for="burger-name">Burger Name:</label>
                <input type="text" id="burger-input" name="burger-name" placeholder="Krabby Patty">
            </div>

            <button id="add" type="submit">
                <a id="add-a" class="waves-effect waves-light btn">Add</a>
            </button>
        </form>
    </div>

</div>